<h3><%= "Current temp: #{weather_data[:temp]}" %></h3>
<h3><%= "High temp: #{weather_data[:temp_max]}" %></h3>
<h3><%= "Low temp: #{weather_data[:temp_min]}" %></h3>
<h3><%= "Avg temp: #{(weather_data[:temp_min] + weather_data[:temp_max]) / 2}" %></h3>
<br/><hr/><br/>
<div class="btn-group" role="group" aria-label="Basic example">
  <%= button_to "Refresh", "#{location.id}/refresh?units=#{weather_data[:units]}", :class => "btn btn-secondary btn-lg active", remote: true %>
  <%= link_to 'Locations', locations_path, :class => "btn btn-secondary btn-lg active"  %>
  <%= button_to 'Cº <=> Fº', "#{location.id}/toggle_temp_units?units=#{weather_data[:units]}", :id => "unit_btn", :class => "btn btn-secondary btn-lg active", remote: true %>
</div>
