<div class="container text-center">
  <p id="notice"><%= notice %></p>

  <h1>Locations</h1>

  <table class="table table-hover table-bordered ">
    <thead class="thead-dark">
      <tr>
        <th>City</th>
        <th>State</th>
        <th>Zip</th>
        <th colspan="2">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @locations.each do |location| %>
        <tr>
          <td><%= location.city%></td>
          <td><%= location.state%></td>
          <td><%= location.zip %></td>
          <td style="width: 10%"><%= link_to 'Weather', location %></td>
          <td style="width: 10%"><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Location', new_location_path %>
</div>
